[Unit]
Description=Steam Link - Flatpak (per-user)

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak run --user com.valvesoftware.SteamLink
ExecStopPost=-/usr/bin/systemctl --user stop gamepad-launcher.service

[Install]
WantedBy=gamepad-launcher.service
