[Unit]
Description=Steam Link

[Service]
Type=oneshot
ExecStart=/usr/bin/steamlink
ExecStopPost=-/usr/bin/systemctl --user stop gamepad_launcher.service

[Install]
WantedBy=gamepad_launcher.service
