[Unit]
Description=Steam Link - Flatpak

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak run com.valvesoftware.SteamLink
ExecStopPost=-/usr/bin/systemctl --user stop gamepad-launcher.service

[Install]
WantedBy=gamepad-launcher.service
