[Unit]
Description=Steam Big Picture Mode - Flatpak

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak run com.valvesoftware.Steam -tenfoot
ExecStop=-/usr/bin/systemctl --user stop gamepad_launcher.service

[Install]
WantedBy=gamepad_launcher.service
