[Unit]
Description=Steam Big Picture Mode

[Service]
Type=oneshot
ExecStart=/usr/games/steam -tenfoot
ExecStopPost=-/usr/bin/systemctl --user stop gamepad-launcher.service

[Install]
WantedBy=gamepad-launcher.service
